{% extends "blog/base.html" %}
{% block content %}
    <h1>Welcome!</h1>
    <br></br>
    <p>Hi there! My name is Patrick Barry and I created this blog by following Corey Schafers tutorial that can be found at: <a href=url"https://www.youtube.com/channel/UCCezIgC97PvUuR4_gbFUs5g">https://www.youtube.com/channel/UCCezIgC97PvUuR4_gbFUs5g</a></p>
    <p>My intent was to learn more about Django and create a place I can leave notes on how I did things, lessons learned and what I should do next time.</p>
    
{% endblock content %}
